/* Global */
nav {
  width: 100%;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

.inp {
  width: 50%;
}

#snook-btn,
#logout-btn,
button {
  background: #dbbcb9;
  border: 1px solid #dbbcb9;
  color: #15202b;
  border-radius: 5px;
  font-size: 18px;
}

#update-pic-btn {
  border-radius: 5px;
}

#snook-btn:hover,
#logout-btn:hover,
button:hover {
  background: #e0b79b;
}

.login-container,
.posts-container,
.signup-container {
  margin-top: 4%;
  text-align: center;
}

.signup-inp:hover,
.signup-inp:focus,
.inp:hover,
.inp:focus {
  border: 3px solid #dbbcb9;
  outline: none;
}

.signup-inp,
.inp {
  border: 1px solid white;
  border-radius: 10px;
}

/* Landing */
#login-link {
  color: #15202b;
}

#signup-link {
  color: #dbbcb9;
}

#welcome-text {
  font-size: 75px;
  color: #15202b;
}

#snookbook-text {
  font-size: 95px;
  color: #e0b79b;
}

#fav-text {
  font-size: 30px;
  color: #15202b;
}

.welcome-container {
  width: 40%;
  margin-left: 20%;
  margin-top: 4%;
}

.login-container {
  position: absolute;
  top: 10%;
  left: 60%;
  background: #15202b;
  width: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 15px;
}
/* Posts */
.change-pic-container,
.menu {
  width: 250px;
  height: 75px;
  background: #15202b;
  display: none;
  float: right;
  margin-right: 50px;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

#change-pic-btn {
  margin-left: 15%;
  margin-top: 9%;
  border-radius: 5px;
}

#pic_to_change {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #e0b79b;
  display: block;
  margin: 0 auto;
}

#imgInput {
  margin-left: 30px;
  margin-top: 35px;
}

.change-pic-container {
  position: absolute;
  top: 177px;
  right: 1px;
  height: 320px;
  padding-top: 25px;
  background: #15202b;
  border-radius: 10px;
  animation: slidedown;
  animation-duration: 0.3s;
}

#content {
  border: none;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  color: white;
  background: #15202b;
  overflow-wrap: break-word;
}

.post {
  background: #15202b;
  margin: 0 auto;
  border: 3px solid #e0b79b;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}

#input-content {
  width: 50%;
  min-height: 150px;
  max-height: 150px;
}

#profile_pic {
  pointer-events: none;
}

#post_profile_pic,
#profile_pic {
  border: 2px solid #e0b79b;
}

#profile_pic,
nav p,
nav button {
  margin: 5px;
  float: right;
}

nav button {
  background: none;
  border: none;

  color: #105dff;
}

nav button:hover {
  text-decoration: underline;
}

#like-button {
  border: none;
  background: none;
  font-size: 30px;
}

/* Signup */
.signup-inp,
.inp {
  background: #15202b;
  color: white;
}
.signup-inp {
  width: 20%;
}

#uploadImage {
  margin-left: 100px;
}

/* Media */
@media (max-width: 1440px) {
  .welcome-container {
    margin-top: 4%;
    width: 39%;
    margin-left: 10%;
  }
  .login-container {
    width: 30%;
    left: 60%;
  }
}

@media (max-width: 1024px) {
  body {
    padding-bottom: 90%;
  }
  .welcome-container {
    margin: 0 auto;
    width: 46%;
  }
  .login-container {
    margin: 0 auto;
    margin-top: 100px;
    position: static;
    width: 50%;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 30px;
  }
  .inp {
    width: 70%;
  }
}

@media (max-width: 768px) {
  body {
    padding-bottom: 80%;
  }
  #welcome-text {
    font-size: 55px;
  }

  #snookbook-text {
    font-size: 75px;
  }
  .login-container {
    width: 55%;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .welcome-container {
    width: 50%;
  }
  .inp {
    width: 80%;
  }
  .signup-inp {
    width: 40%;
  }
}

@media (max-width: 420px) {
  body {
    padding-bottom: 100%;
  }

  #welcome-text {
    font-size: 35px;
  }

  #snookbook-text {
    font-size: 55px;
  }
  .login-container {
    width: 80%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .welcome-container {
    width: 70%;
    margin: 0 auto;
  }
  .signup-inp {
    width: 55%;
  }

  #input-content {
    width: 80%;
    min-height: 200px;
    max-height: 200px;
  }
  .post {
    width: 80%;
    height: 240px;
  }
  .title {
    font-size: 24px;
  }
}

/* Animations */
@keyframes slidedown {
  from {
    transform: translate(0px, -75px);
  }
  to {
  }
}

@keyframes slideup {
  from {
  }
  to {
    transform: translate(0px, -75px);
  }
}
